<div class="container pt-4">
  <div class="row">
    <div class="col-sm-6 offset-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>
            {{ modeText }}
            <div class="spinner-border text-dark float-end" *ngIf="loading" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </h3>
          <span
            class="badge bg-danger"
            *ngIf="employeeForm.invalid && submitted"
            >TODOS LOS CAMPOS SON OBLIGATORIOS</span
          >
          <form class="mt-4" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="Name"
                  formControlName="name"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="Lastname"
                  formControlName="lastname"
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="Document ID"
                  formControlName="doc"
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <input
                  type="number"
                  class="form-control form-control-lg"
                  placeholder="Salary"
                  formControlName="salary"
                  pattern="^\d*(\.\d{0,2})?$"
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <button
                  class="btn btn-secondary btn-lg me-3"
                  type="text"
                  [routerLink]="['/list-employees']"
                >
                  Back
                </button>
                <button
                  class="btn btn-dark btn-lg"
                  type="submit"
                  [disabled]="!employeeForm.valid"
                >
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
