<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Employees List</span>
            <button class="btn btn-dark btn-lg float-end" [routerLink]="['/create-employee']">Add</button>
            <table class="table mt-5 table-striped">
                <thead>
                  <tr>
                    <th >Name</th>
                    <th >Lastname</th>
                    <th >Document ID</th>
                    <th >Salary</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>                    
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>1341234123</td>
                    <td>25000</td>
                    <td>
                        <i class="far fa-edit fa-lg text-info me-3"></i>
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>                    
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>1341234123</td>
                    <td>25000</td>
                    <td>
                        <i class="far fa-edit fa-lg text-info me-3"></i>
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>                    
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>1341234123</td>
                    <td>25000</td>
                    <td>
                        <i class="far fa-edit fa-lg text-info me-3"></i>
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>                 
                </tbody>
              </table>
        </div>
    </div>
</div>