<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Employees List</span>
            <button class="btn btn-dark btn-lg float-end" [routerLink]="['/create-employee']">Add</button>
            <h5 style="margin-top: 30px;" *ngIf="employees.length < 1">No entries for employees</h5>
            <table *ngIf="employees.length > 0" class="table mt-5 table-striped">
                <thead>
                  <tr>
                    <th >Name</th>
                    <th >Lastname</th>
                    <th >Document ID</th>
                    <th >Salary</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employees">                    
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.lastname }}</td>
                    <td>{{ employee.doc }}</td>
                    <td>{{ employee.salary | currency  }}</td>
                    <td>
                        <i class="far fa-edit fa-lg text-info me-3" [routerLink]="['/edit-employee/',employee.id]"></i>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="deleteEmployee(employee.id)"></i>
                    </td>
                  </tr>              
                </tbody>
              </table>
        </div>
    </div>
</div>